.showContestant{
    display: flex;
    justify-content: center;
}
h4{
    word-wrap: break-word;
}
.contestant{
    background-color: whitesmoke;
    min-width: 150px;
    max-width: 500px;
    width: fit-content;
    height: max-content;
    box-sizing: border-box;
    border: solid;
    margin: 50px;
    padding: 10px;
    padding-top: -.5;
    padding-right: 20px;
    padding-left: 20px;
}
.contestant__details{
    display: flex;
    flex-direction: column;    
   
    justify-content: space-between;
}
.showContestant__voteButton{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

}